*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.all{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 8%;
    background-color: rgb(93, 200, 243);
}
.human{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(93, 200, 243);
   
}
.human::after{
    content: '';
    width: 100px;
    height: 50%;
    background-color: rgba(75, 73, 73, 0.1);
    position: absolute;
    bottom: -50%;
    left: calc(50% - 50px);
    border-radius: 139px 143px 197px 200px;
    animation:  after_shadow 8s linear 0s infinite;
}

@keyframes after_shadow { 
    
    25%{
        transform: skewx(10deg);
        border-radius: 200px 143px 197px 200px;
        height: 60%;
        bottom: -60%;
    }
    50%{
        transform: skewx(0);
        height: 50%;
        bottom: -50%;
    }
    75%{
        transform: skewx(-10deg);
        border-radius: 200px 200px 197px 200px;
        height: 60%;
        bottom: -60%;

    }

}





.human-head{
    position: relative;
    z-index: 3;
    margin: 0 auto;
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 50%;
    height: 60%;
    width: 60%;
    margin-top: 60px;
    animation:  head 8s linear 0s infinite;
    box-shadow: inset 0px 0px 29px -10px rgba(0,0,0,0.53);
    bottom: -7px;

}
.head__left-glass{
    width: 5px;
    height: 5px;
    background-color: rgb(75, 73, 73);
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: 30%;
    animation:  left-glass 8s linear 0s infinite ;
}
.head__right-glass{
    width: 5px;
    height: 5px;
    background-color: rgb(75, 73, 73);
    border-radius: 50%;
    position: absolute;
    top: 35%;
    right: 30%;
    animation:  right-glass 8s linear 0s infinite ;
}

.human-body{
   bottom: -5px;
    z-index: 2;
    margin: 20px auto 0;
    grid-column:2/3 ;
    grid-row:2/3 ;
     background-color: rgba(255, 255, 255, .6);
    border-radius: 50%;
    height: 80%;
    width: 80%;
    animation:  body 8s linear 0s infinite ;
    position: relative;
    box-shadow: inset 0px 0px 29px -10px rgba(0,0,0,0.53);
}
/* .human-body::after{
    position: absolute;
    left: -45px;
    top: calc(50% - 1px);
    content: '';
    background-color: black;
    width: 45px;
    height: 2px;
}
.human-body::before{
    position: absolute;
    right: -45px;
    top: calc(50% - 1px);
    content: '';
    background-color: black;
    width: 45px;
    height: 2px;
} */
.human-leg{
    grid-column:2/3 ;
    grid-row: 3/4;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 200px 200px 186px 186px;
    box-shadow: inset 0px 0px 29px -10px rgba(0,0,0,0.53);
}
@keyframes head { 

    25%{
        border-radius:50%;
        transform: translate(32px , 8px);
        box-shadow: inset 9px 0px 29px -10px rgba(0,0,0,0.53);
      
    }
    50%{
        border-radius:50%;
        transform: translate(0px , 0px);
        box-shadow: inset 0px 0px 29px -10px rgba(0,0,0,0.53);
    }
    75%{
        border-radius:50%;
        transform: translate(-32px , 8px);
        box-shadow: inset -10px 10px 38px -23px rgba(0,0,0,0.53);
    }
       
}

@keyframes body { 
    
    25%{
        border-radius: 200px 200px 186px 186px;
        transform: translate(12px , 4px);
        box-shadow: inset 9px 0px 29px -10px rgba(0,0,0,0.53);
       

    }
    50%{
        transform: translate(0px , 0px);
        box-shadow: inset 0px 0px 29px -10px rgba(0,0,0,0.53);
    }
    75%{
        border-radius: 200px 200px 186px 186px;
        transform: translate(-12px , 4px);
        box-shadow: inset -10px 10px 38px -23px rgba(0,0,0,0.53);

    }

}
@keyframes button1 { 

    25%{
        transform: translate(6px , 4px);
        
       
    }
    50%{
        transform: translate(0px , 0px);
    }
    75%{
        transform: translate(-4px , 4px);
       
    }


}
@keyframes button2 { 

    25%{
        transform: translate(3px , 4px);
       
    }
    50%{
        transform: translate(0px , 0px);
    }
    75%{
        transform: translate(-3px , 4px);
       
    }


}
@keyframes button3 { 

    25%{
        transform: translate(1px , 5px);
       
    }
    50%{
        transform: translate(0px , 0px);
    }
    75%{
        transform: translate(-1px , 5px);
       
    }


}

@keyframes left-glass { 
    25%{
        transform: translate(0px , 2px);
       
    }
    50%{
        transform: translate(0px , 0px);
    }
    75%{
        transform: translate(0px , 7px);
       
    }

}
@keyframes right-glass { 
    25%{
        transform: translate(0px , 7px);
       
    }
    50%{
        transform: translate(0px , 0px);
    }
    75%{
        transform: translate(0px , 2px);
       
    }

}

.human-body div:nth-child(1){
    width: 4px;
    height: 4px;
    background-color: rgb(75, 73, 73);
    border-radius: 50%;
    position: absolute;
    top: 26px;
    left: calc(50% - 2px);
    animation: button1  8s linear 0s infinite ;
    
}
.human-body div:nth-child(2){

    top: 34px;
    width: 4px;
    height: 4px;
    background-color: rgb(75, 73, 73);
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 2px);
    animation: button2  8s linear 0s infinite 
   
}
.human-body div:nth-child(3){
    top: 42px;
    width: 4px;
    height: 4px;
    background-color: rgb(75, 73, 73);
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 2px);
    animation: button3  8s linear 0s infinite 
   
}